<h1>Daily 5 Timetable</h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Rotation One</th> 
    <th>Rotation Two</th>
    <th>Rotation Three</th> 
    <th>Rotation Four</th>
    <th>Rotation Five</th>
  </tr>
  {{#each timetable}}
  <tr>
    <td>{{name}}</td> 
    <td>{{task_1}}</td>  
    <td>{{task_2}}</td>
    <td>{{task_3}}</td> 
    <td>{{task_4}}</td>
    <td>{{task_5}}</td>
  </tr>
  {{/each}}
</table>
<a href="/student">Home</a>
